APP_ENV=development

DB_NAME=fastapi
DB_USER=postgres
DB_PASSWORD=19863022
# DB_HOST=127.0.0.1 # database Oustide Docker
DB_HOST=db # database inside docker
DB_PORT=5432

APP_HOST=127.0.0.1
APP_PORT=8000


